// Colors
$header-bg: #f2f5f7;
$body-bg: #ffffff;
$white: #fff;
$black: #000;
$primary-color: #4f9a95;
$light-primary-color: #80cbc6;
$secondary-color: #101c32;
$light-secondary-color: #39435c;
$grey: #F9F9F9;
$dark-grey: #333333;
$light-grey: #e5e7e9;
$grey-bg: #fafafa;
$text-color: #6d7580;
$footer-bg: #000000;
$dark-blue: #133344;
$red: #fe1717;
$green: #03e00b;


// Fonts
$base-font: 'Oswald', sans-serif;
$base-font-size: 16px;

// Grid and sizes
$grid-columns: 60;
$min-contrast-ratio: 2.5;
$min_width: 320px;
$max_width: 1200px;