<template>
  <header>
    <div class="container-fluid">
      <div class="logo">

          <img src="~/assets/img/logo.svg" alt="Logo">
      </div>
    </div>
  </header>
</template>

<script setup>

</script>

<style lang="scss" scoped>

</style>